/*Fonts*/
/*Colors*/
/*transition*/
/*Headings*/
/*Font weight*/
/*Border*/
.btn-default {
  background-color: #000;
  color: #000; }

.icon {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .icon:before {
    position: absolute; }

.ico-arrow-down:before {
  content: '\e945';
  display: block;
  color: #c7c7c7;
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg); }

.ico-menu:before {
  content: '\e942';
  display: inline-block; }

@media screen and (min-width: 450px) and (max-width: 768px) {
  .offers-holder {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
       -moz-box-orient: horizontal !important;
       -moz-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .banner-right img {
    max-width: 300px !important;
    margin: 0 auto !important; }
  .tab-list-holder .tab-banner {
    max-width: 300px !important;
    margin: 0 auto !important; } }

@media only screen and (max-width: 1200px) {
  .big-basket ul li {
    padding: 12px 0px 5px;
    font-size: 12px; } }

@media only screen and (max-width: 992px) {
  .mobile-header {
    width: 100%;
    padding: 5px 15px 0; }
    .mobile-header .header-search {
      max-width: 100%;
      margin-bottom: 10px; }
    .mobile-header .top-head {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 5px; }
      .mobile-header .top-head .logo-holder {
        margin-left: 60px; }
      .mobile-header .top-head .mobile-button {
        width: 30px;
        height: 30px; }
        .mobile-header .top-head .mobile-button i {
          display: block;
          font-size: 30px;
          line-height: 32px;
          margin-top: -5px;
          color: #917464; }
      .mobile-header .top-head .btn-carello {
        background: transparent;
        max-width: 90px; }
        .mobile-header .top-head .btn-carello p {
          color: #917464;
          font-size: 14px;
          line-height: 16px;
          font-weight: bold; }
        .mobile-header .top-head .btn-carello i {
          font-size: 20px;
          line-height: 22px;
          color: #917464; }
  #slidx_menu {
    background: #fff; }
    #slidx_menu .slide-box {
      padding: 10px; }
      #slidx_menu .slide-box div span {
        display: block;
        font-size: 18px;
        line-height: 20px;
        color: #ff6a4b;
        margin-bottom: 10px; }
      #slidx_menu .slide-box div ul {
        padding-left: 10px;
        margin-bottom: 20px; }
        #slidx_menu .slide-box div ul li a {
          display: block;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 10px;
          color: #000; }
  .top-title {
    border-bottom: 1px solid #e7e7e7;
    padding-right: 33px;
    padding-left: 10px;
    min-height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
    .top-title .sidebar-nav_text {
      font-size: 20px;
      line-height: 22px; } }

@media only screen and (max-width: 768px) {
  .big-basket ul li {
    width: 25%;
    font-size: 10px;
    min-height: 70px; }
  .big-basket .big-basket-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px 0; }
    .big-basket .big-basket-row span {
      margin: 10px 0; }
    .big-basket .big-basket-row a i {
      margin-right: 20px; }
  .big-basket .big-basket-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px; }
    .big-basket .big-basket-footer p {
      margin: 10px 0; }
    .big-basket .big-basket-footer .btn {
      margin: 0 !important; }
  .header-content {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 92px; }
    .header-content .top-head .mobile-button {
      width: 21px;
      height: 18px; }
      .header-content .top-head .mobile-button i {
        display: block;
        font-size: 21px;
        line-height: 23px;
        margin-top: 0px;
        color: #917464; }
    .header-content .search-field {
      height: 26px; }
    .header-content .btn-search {
      width: 26px;
      height: 26px; }
  .offers-holder a .sale-icon {
    right: 25%; }
  .best-offers h3 {
    padding: 8px 0 8px;
    margin-bottom: 10px;
    font-size: 10px; }
  .best-offers .price {
    color: #917464 !important;
    font-weight: bold; }
  .logo {
    max-width: 49px;
    width: 100%; }
  .products-box .offers-holder, .complete-offer .offers-holder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .products-box .offers-holder .product-item, .complete-offer .offers-holder .product-item {
      width: 50%; }
  .products-box .filter-form .filter-ordina, .complete-offer .filter-form .filter-ordina {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .products-box .filter-form .filter-ordina .form-group, .complete-offer .filter-form .filter-ordina .form-group {
      margin: 5px 0 5px; }
      .products-box .filter-form .filter-ordina .form-group select, .complete-offer .filter-form .filter-ordina .form-group select {
        max-width: 120px; }
  .register-form form .row {
    margin-bottom: 0; }
    .register-form form .row .form-check {
      margin-bottom: 20px; }
  .register-form input {
    margin-bottom: 20px; }
  .register-form .form-check-input {
    margin-bottom: 0; }
  .offers-holder, .tab-list-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .tab-list-holder .list-product {
    width: 100%; }
    .tab-list-holder .list-product div a {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
  .tab-list-holder .offers-holder {
    max-width: 100%;
    float: none; }
    .tab-list-holder .offers-holder a {
      width: 100%; }
  .tab-list-holder .tabs ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .tab-list-holder .tabs ul h2 {
      margin-bottom: 10px; }
  .tab-list-holder .tabs .tab-content .tab-pane .tab-banner {
    max-width: 100%;
    float: none;
    margin-bottom: 20px !important; }
  .footer-holder {
    padding-top: 20px;
    padding-bottom: 20px; }
    .footer-holder .footer-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      .footer-holder .footer-content .left-box div {
        margin-right: 0 !important; }
        .footer-holder .footer-content .left-box div a {
          margin-bottom: 10px; }
    .footer-holder .socials {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .footer-holder .socials .vimeo {
        margin-right: 0 !important; }
  .mobile-header .basket {
    top: 75px; }
  .mobile-banner {
    margin: 20px 0 0;
    background: #f5f0ed;
    padding-top: 20px !important; }
  .mobile-img {
    margin: 0 auto 10px; }
  .add-to-basket, a.add-to-basket {
    height: 28px; } }

@media only screen and (max-width: 540px) {
  #product-tabs li a {
    height: 40px;
    font-size: 15px;
    line-height: 17px;
    padding: 13px 10px 0; }
  .big-basket ul li {
    width: 25%;
    font-size: 10px;
    min-height: 70px; }
  .big-basket .big-basket-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px 0; }
    .big-basket .big-basket-row span {
      margin: 10px 0; }
    .big-basket .big-basket-row a i {
      margin-right: 20px; }
  .big-basket .big-basket-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px; }
    .big-basket .big-basket-footer p {
      margin: 10px 0; }
    .big-basket .big-basket-footer .btn {
      margin: 0 !important; } }

@media only screen and (max-width: 450px) {
  .also-like-slider h3, .other-news-slider h3 {
    max-width: 200px;
    padding-left: 20px; }
  .filtra-per-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px; }
  .complete-offer .col-lg-8 .offers-holder a {
    width: 50%; }
  #product-tabs li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 14px;
    padding: 0px 5px 0;
    text-align: center; }
  #product-tabs li a.active {
    padding-top: 13px; } }

/*Fonts*/
/*Colors*/
/*transition*/
/*Headings*/
/*Font weight*/
/*Border*/
.btn-default {
  background-color: #000;
  color: #000; }

.breadcrumb-custom {
  padding: 20px 15px 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-bottom: 0;
  background-color: transparent; }
  .breadcrumb-custom li a {
    font-size: 13px;
    color: #6e6e6e;
    font-weight: 300; }

.big-basket {
  width: 100%;
  background: #fff;
  padding: 20px 0;
  overflow: hidden; }
  .big-basket ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .big-basket ul li {
      width: 100%;
      margin-right: 5px;
      border-bottom: 12px solid #e3e3e3;
      padding: 12px 15px; }
      .big-basket ul li.active {
        border-color: #ff6a4b;
        color: #ff6a4b; }
  .big-basket .big-basket-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    min-height: 120px;
    border-bottom: 1px solid #dddddd;
    padding: 0 15px; }
    .big-basket .big-basket-row .price {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #ff6a4b;
      font-weight: bold;
      min-width: 130px;
      height: 42px;
      background: #eeeeee; }
    .big-basket .big-basket-row span {
      max-width: 150px; }
      .big-basket .big-basket-row span b {
        display: block; }
    .big-basket .big-basket-row input {
      max-width: 60px;
      width: 100%;
      border: 1px solid #e4e4e4;
      height: 30px;
      padding-left: 10px; }
    .big-basket .big-basket-row a i {
      display: block;
      width: 20px;
      height: 24px;
      color: #a2a2a2;
      font-size: 24px; }
  .big-basket .big-basket-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px; }
    .big-basket .big-basket-footer button {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      max-width: 200px;
      width: 100%;
      height: 40px;
      background: #ff6a4b;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      margin-left: 20px; }
      .big-basket .big-basket-footer button i {
        display: block;
        width: 9px;
        height: 14px;
        font-size: 12px;
        font-weight: bold; }
      .big-basket .big-basket-footer button.continue {
        background: #434343;
        margin-right: 20px;
        margin-left: 0; }
        .big-basket .big-basket-footer button.continue i {
          -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
                  transform: rotate(180deg);
          margin-top: -5px; }
  .big-basket .total-box h3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    height: 45px;
    background: #85c723;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px; }
  .big-basket .total-box .lines-holder {
    padding: 15px;
    border: 1px solid #e5e5e5; }
    .big-basket .total-box .lines-holder .line {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 20px; }
      .big-basket .total-box .lines-holder .line span {
        color: #565656; }
      .big-basket .total-box .lines-holder .line b {
        color: #ff6a4b;
        text-transform: uppercase; }
    .big-basket .total-box .lines-holder .apply-holder {
      padding: 25px 0 0;
      border-top: 1px solid #dcdcdc;
      margin-bottom: 15px; }
      .big-basket .total-box .lines-holder .apply-holder p {
        margin-bottom: 20px;
        color: #000; }
      .big-basket .total-box .lines-holder .apply-holder div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
        .big-basket .total-box .lines-holder .apply-holder div input {
          padding-left: 5px;
          height: 40px;
          margin-right: 3px;
          width: 100%;
          background: #eeeeee;
          border: 1px solid #bfbfbf; }
        .big-basket .total-box .lines-holder .apply-holder div button {
          background: #ff6a4b;
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
          width: 68px;
          height: 40px;
          -webkit-flex-shrink: 0;
              -ms-flex-negative: 0;
                  flex-shrink: 0;
          -webkit-border-radius: 0;
                  border-radius: 0;
          padding: 0; }
