/*Fonts*/
/*Colors*/
/*transition*/
/*Headings*/
/*Font weight*/
/*Border*/
.btn-default {
  background-color: #000;
  color: #000; }

.icon {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .icon:before {
    position: absolute; }

.ico-arrow-down:before {
  content: '\e945';
  display: block;
  color: #c7c7c7;
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg); }

.ico-menu:before {
  content: '\e942';
  display: inline-block; }

@media screen and (min-width: 450px) and (max-width: 768px) {
  .offers-holder {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
       -moz-box-orient: horizontal !important;
       -moz-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
    .offers-holder a {
      width: 50% !important; }
  .banner-right img {
    max-width: 300px !important;
    margin: 0 auto !important; }
  .tab-list-holder .tab-banner {
    max-width: 300px !important;
    margin: 0 auto !important; }
  .tab-list-holder .offers-holder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .tab-list-holder .offers-holder a {
      width: 50% !important; } }

@media only screen and (max-width: 1200px) {
  .big-basket ul li {
    padding: 12px 0px 5px;
    font-size: 12px; } }

@media only screen and (max-width: 992px) {
  .mobile-header {
    width: 100%;
    padding: 5px 15px 0; }
    .mobile-header .header-search {
      max-width: 100%;
      margin-bottom: 10px; }
    .mobile-header .top-head {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 5px; }
      .mobile-header .top-head .logo-holder {
        margin-left: 60px; }
      .mobile-header .top-head .mobile-button {
        width: 30px;
        height: 30px; }
        .mobile-header .top-head .mobile-button i {
          display: block;
          font-size: 30px;
          line-height: 32px;
          margin-top: -5px;
          color: #917464; }
      .mobile-header .top-head .btn-carello {
        background: transparent;
        max-width: 90px; }
        .mobile-header .top-head .btn-carello p {
          color: #917464;
          font-size: 14px;
          line-height: 16px;
          font-weight: bold; }
        .mobile-header .top-head .btn-carello i {
          font-size: 20px;
          line-height: 22px;
          color: #917464; }
  #slidx_menu {
    background: #fff; }
    #slidx_menu .slide-box {
      padding: 10px; }
      #slidx_menu .slide-box div span {
        display: block;
        font-size: 18px;
        line-height: 20px;
        color: #ff6a4b;
        margin-bottom: 10px; }
      #slidx_menu .slide-box div ul {
        padding-left: 10px;
        margin-bottom: 20px; }
        #slidx_menu .slide-box div ul li a {
          display: block;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 10px;
          color: #000; }
  .top-title {
    border-bottom: 1px solid #e7e7e7;
    padding-right: 33px;
    padding-left: 10px;
    min-height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
    .top-title .sidebar-nav_text {
      font-size: 20px;
      line-height: 22px; } }

@media only screen and (max-width: 768px) {
  .big-basket ul li {
    width: 25%;
    font-size: 10px;
    min-height: 70px; }
  .big-basket .big-basket-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px 0; }
    .big-basket .big-basket-row span {
      margin: 10px 0; }
    .big-basket .big-basket-row a i {
      margin-right: 20px; }
  .big-basket .big-basket-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px; }
    .big-basket .big-basket-footer p {
      margin: 10px 0; }
    .big-basket .big-basket-footer .btn {
      margin: 0 !important; }
  .products-box .offers-holder, .complete-offer .offers-holder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .products-box .offers-holder .product-item, .complete-offer .offers-holder .product-item {
      width: 50%; }
  .products-box .filter-form .filter-ordina, .complete-offer .filter-form .filter-ordina {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .products-box .filter-form .filter-ordina .form-group, .complete-offer .filter-form .filter-ordina .form-group {
      margin: 5px 0 5px; }
      .products-box .filter-form .filter-ordina .form-group select, .complete-offer .filter-form .filter-ordina .form-group select {
        max-width: 120px; }
  .register-form form .row {
    margin-bottom: 0; }
    .register-form form .row .form-check {
      margin-bottom: 20px; }
  .register-form input {
    margin-bottom: 20px; }
  .register-form .form-check-input {
    margin-bottom: 0; }
  .offers-holder, .tab-list-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .tab-list-holder .list-product {
    width: 100%; }
    .tab-list-holder .list-product div a {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
  .tab-list-holder .offers-holder {
    max-width: 100%;
    float: none; }
    .tab-list-holder .offers-holder a {
      width: 100%; }
  .tab-list-holder .tabs ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .tab-list-holder .tabs ul h2 {
      margin-bottom: 10px; }
  .tab-list-holder .tabs .tab-content .tab-pane .tab-banner {
    max-width: 100%;
    float: none; }
  #senza-lattosio .tab-banner {
    display: none; }
  .footer-holder {
    padding-top: 20px;
    padding-bottom: 20px; }
    .footer-holder .footer-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      .footer-holder .footer-content .left-box div {
        margin-right: 0 !important; }
        .footer-holder .footer-content .left-box div a {
          margin-bottom: 10px; }
    .footer-holder .socials {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .footer-holder .socials .vimeo {
        margin-right: 0 !important; }
  .mobile-header .basket {
    top: 75px; } }

@media only screen and (max-width: 540px) {
  #product-tabs li a {
    height: 40px;
    font-size: 15px;
    line-height: 17px;
    padding: 13px 10px 0; }
  .big-basket ul li {
    width: 25%;
    font-size: 10px;
    min-height: 70px; }
  .big-basket .big-basket-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px 0; }
    .big-basket .big-basket-row span {
      margin: 10px 0; }
    .big-basket .big-basket-row a i {
      margin-right: 20px; }
  .big-basket .big-basket-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px; }
    .big-basket .big-basket-footer p {
      margin: 10px 0; }
    .big-basket .big-basket-footer .btn {
      margin: 0 !important; } }

@media only screen and (max-width: 450px) {
  .also-like-slider h3, .other-news-slider h3 {
    max-width: 200px;
    padding-left: 20px; }
  .filtra-per-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px; }
  .complete-offer .col-lg-8 .offers-holder a {
    width: 50%; }
  #product-tabs li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 14px;
    padding: 0px 5px 0;
    text-align: center; }
  #product-tabs li a.active {
    padding-top: 13px; } }

/*Fonts*/
/*Colors*/
/*transition*/
/*Headings*/
/*Font weight*/
/*Border*/
.btn-default {
  background-color: #000;
  color: #000; }

.breadcrumb-custom {
  padding: 20px 15px 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-bottom: 0;
  background-color: transparent; }
  .breadcrumb-custom li a {
    font-size: 13px;
    color: #6e6e6e;
    font-weight: 300; }

.open-sidebar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff !important;
  padding: 0 !important; }
  .open-sidebar p {
    width: 100%;
    background-color: #917464;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .open-sidebar div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 80px;
    border-bottom: 1px solid #e7e7e7;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px; }
    .open-sidebar div img {
      display: block;
      width: 45px;
      height: 45px;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      margin-right: 15px; }
    .open-sidebar div span {
      font-size: 14px;
      text-transform: none; }
      .open-sidebar div span b {
        display: block;
        width: 100%;
        text-transform: uppercase; }

.category-page .active-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #8aca2d;
  padding: 0; }
  .category-page .active-row a {
    height: 44px; }
  .category-page .active-row:hover {
    background: #8aca2d; }
  .category-page .active-row .sidebar-nav_arrow {
    display: none; }
  .category-page .active-row .sidebar-nav_left strong {
    background: #8aca2d; }
  .category-page .active-row .sidebar-nav_text {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold; }
  .category-page .active-row .menu-block {
    position: relative;
    left: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    visibility: visible;
    opacity: 1;
    width: 100%;
    min-width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .category-page .active-row .menu-block span {
      color: #6d6d6d;
      margin-bottom: 0; }
    .category-page .active-row .menu-block ul {
      margin-bottom: 0; }
    .category-page .active-row .menu-block a {
      font-size: 14px;
      text-transform: uppercase;
      color: #6d6d6d; }

.main-banner span {
  display: block;
  padding: 25px 15px;
  font-size: 14px;
  line-height: 18px;
  color: #6c6c6c;
  font-weight: 300; }
  .main-banner span b {
    font-weight: 500; }

.filter-form .filtra-per-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  padding-left: 20px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  margin: 0; }
  .filter-form .filtra-per-row b {
    margin-right: 20px; }
  .filter-form .filtra-per-row ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .filter-form .filtra-per-row ul li {
      margin-right: 25px; }
      .filter-form .filtra-per-row ul li a {
        font-size: 13px;
        color: #6c6c6c;
        font-weight: 300; }

.filter-form .filter-ordina {
  min-height: 45px;
  background-color: #fff;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .filter-form .filter-ordina .form-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0; }
    .filter-form .filter-ordina .form-group label {
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      margin-right: 15px;
      margin-bottom: 0; }
    .filter-form .filter-ordina .form-group select {
      -webkit-border-radius: 0;
              border-radius: 0;
      margin-right: 15px; }
  .filter-form .filter-ordina .btn {
    background-color: #eb330d;
    text-transform: uppercase;
    color: #fff;
    width: 110px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold; }
    .filter-form .filter-ordina .btn span {
      font-weight: 400; }

.products-box .offers-holder {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .products-box .offers-holder .product-item {
    width: 25%;
    border: 1px solid #e5e5e5; }
    .products-box .offers-holder .product-item:last-child {
      border: 1px solid #e5e5e5; }
    .products-box .offers-holder .product-item .fader-holder {
      position: relative; }
      .products-box .offers-holder .product-item .fader-holder .fader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.9);
        z-index: 99;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      .products-box .offers-holder .product-item .fader-holder:hover .fader {
        visibility: visible;
        opacity: 1; }
      .products-box .offers-holder .product-item .fader-holder .about {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border: 2px solid #ff694a;
        border-right: 2px solid #ff694a;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        color: #ff694a;
        font-weight: 500;
        padding: 0;
        max-width: 175px;
        width: 100%;
        height: 27px;
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 15px; }
        .products-box .offers-holder .product-item .fader-holder .about:hover {
          background: #ff694a;
          color: #fff; }
      .products-box .offers-holder .product-item .fader-holder div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
        .products-box .offers-holder .product-item .fader-holder div .like, .products-box .offers-holder .product-item .fader-holder div .to-compare {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          width: 33px;
          height: 33px;
          margin-right: 10px;
          background: url(../img/like.png) no-repeat;
          border: none; }
        .products-box .offers-holder .product-item .fader-holder div .to-compare {
          margin-right: 0;
          background: url(../img/to-compare.png) no-repeat; }
