@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,700|Roboto");
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons/fonts/icomoon.eot?skjhx");
  src: url("../fonts/icons/fonts/icomoon.eot?skjhx#iefix") format("embedded-opentype"), url("../fonts/icons/fonts/icomoon.ttf?skjhx") format("truetype"), url("../fonts/icons/fonts/icomoon.woff?skjhx") format("woff"), url("../fonts/icomoon.svg?skjhx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/*Fonts*/
/*Colors*/
/*transition*/
/*Font weight*/
/*Border*/
.btn-default {
  background-color: #000;
  color: #000; }

/*Fonts*/
/*Colors*/
/*transition*/
/*Font weight*/
/*Border*/
.btn-default {
  background-color: #000;
  color: #000; }

.icon {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .icon:before {
    position: absolute; }

.ico-arrow-down:before {
  content: '\e945';
  display: block;
  color: #c7c7c7;
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg); }

.ico-menu:before {
  content: '\e942';
  display: inline-block; }

*::-webkit-input-placeholder {
  color: #725849;
  opacity: 1; }

*:-moz-placeholder {
  color: #725849;
  opacity: 1; }

*::-moz-placeholder {
  color: #725849;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #725849;
  opacity: 1; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }
  *:focus {
    outline: 0 !important; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  border-style: none; }

h1, h2, h3, h4, h5, h6, p, figure, li {
  margin: 0; }

img {
  border-style: none;
  display: block; }

input, select, textarea {
  vertical-align: middle;
  font: 100% arial, helvetica, sans-serif; }

a {
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: none; }

button, button:hover, button:active, button:focus {
  outline: 0 !important; }

.btn:hover, .btn:active, .btn:focus {
  color: #fff; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25); }

html {
  font-size: 10px; }

/* General reset end */
body {
  font-size: 1.5rem;
  min-width: 320px;
  background-color: #f4f4f4;
  position: relative;
  line-height: 1.35;
  font-family: "Hind", Helvetica, sans-serif;
  color: #000;
  overflow-x: hidden;
  opacity: 1; }

.top-line {
  background-color: #303030;
  padding: 1.3rem 0;
  position: relative; }
  .top-line:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 18%;
    border-right: 3rem solid #2f2f2f;
    border-top: 4.2rem solid #3a3a3a;
    background-color: #2f2f2f;
    z-index: 1;
    overflow: hidden; }

.top-line_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2; }

.top-line_text {
  color: #c7c7c7;
  font-size: 1.2rem;
  font-family: 300; }
  .top-line_text a {
    color: #fff; }
    .top-line_text a:hover {
      color: #fff;
      text-decoration: underline; }

.top-line_btn {
  color: #c7c7c7;
  font-size: 1rem;
  text-transform: uppercase;
  padding-right: 1.1rem;
  position: relative; }
  .top-line_btn:hover, .top-line_btn:focus {
    color: #fff; }
    .top-line_btn:hover .ico-arrow-down:before, .top-line_btn:focus .ico-arrow-down:before {
      color: #fff; }

.header-content {
  background-color: #fff;
  -webkit-box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.15);
  padding: 0.5rem 0; }

.logo-holder {
  text-align: center; }

.logo {
  display: inline-block;
  max-width: 12.1rem; }
  .logo img {
    width: 100%;
    height: auto; }

.header-nav {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.5rem 0 2rem 0; }
  .header-nav li {
    display: inline-block; }
  .header-nav a {
    display: inline-block;
    font-family: "Hind", Helvetica, sans-serif;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-right: 1.5rem;
    position: relative; }
    .header-nav a i:before {
      top: 45%;
      color: #000; }

.default-select_wrap {
  position: relative;
  display: inline-block;
  background-color: #fff; }
  .default-select_wrap:before {
    display: inline-block;
    position: absolute;
    content: '\e945';
    color: #000;
    font-size: 0.8rem;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "icons";
    z-index: 0; }

.default-select {
  display: inline-block;
  font-family: "Hind", Helvetica, sans-serif;
  font-weight: 300;
  background-color: transparent;
  color: #575757;
  border: 0.1rem solid #e6e6e6;
  -webkit-border-radius: 0.3rem 0 0 0.3rem;
          border-radius: 0.3rem 0 0 0.3rem;
  font-size: 1.2rem;
  padding: 1.2rem;
  min-height: 4rem;
  min-height: 1.7rem;
  min-width: 16.5rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  z-index: 1; }

.search-field {
  display: inline-block;
  font-family: "Hind", Helvetica, sans-serif;
  font-weight: 300;
  background-color: transparent;
  color: #575757;
  border: 0.1rem solid #e6e6e6;
  -webkit-border-radius: 0.2rem 0 0 0.2rem;
          border-radius: 0.2rem 0 0 0.2rem;
  font-size: 1.2rem;
  padding: 1.2rem;
  min-height: 4rem;
  min-height: 1.7rem;
  min-width: 16.5rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  z-index: 1;
  border-left: none;
  min-width: 40rem; }

.header-fields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.btn-search {
  background-color: #f46746;
  border: none;
  min-width: 5rem;
  -webkit-border-radius: 0 0.3rem 0.3rem 0;
          border-radius: 0 0.3rem 0.3rem 0; }
  .btn-search i {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1; }

.btn-carello {
  background-color: #f46746;
  border: none;
  min-width: 16.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4rem;
  min-width: 16.5rem;
  -webkit-border-radius: 0.3rem;
          border-radius: 0.3rem; }
  .btn-carello span {
    display: inline-block;
    color: #fff; }
  .btn-carello p {
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase; }
  .btn-carello .ico-arrow-down:before {
    position: static;
    display: inline-block;
    color: #fff; }

.main-content {
  padding: 2rem 0 1.7rem; }

.main-sidebar {
  background-color: #fff; }

.main-sidebar_header {
  background-color: #f46746;
  padding: 0 1rem 0 1.9rem; }
  .main-sidebar_header p {
    line-height: 4.8rem;
    font-family: "Hind", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #fff; }

.sidebar-nav_ico {
  background-color: #c8c8c8;
  width: 3.5rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.7rem; }
  .sidebar-nav_ico i {
    display: inline-block;
    color: #fff; }

.sidebar-nav {
  padding-top: 1.1rem;
  padding-bottom: 1.5rem; }

.sidebar-nav_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sidebar-nav_row {
  border-bottom: 0.1rem solid #e7e7e7;
  padding: 0.4rem 3.3rem 0.4rem 0.9rem; }
  .sidebar-nav_row a {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.sidebar-nav_text {
  text-transform: uppercase;
  font-family: "Hind", Helvetica, sans-serif;
  font-weight: 400;
  color: #6d6d6d;
  font-size: 1.4rem; }

.sidebar-nav_arrow {
  display: inline-block;
  font-style: normal;
  color: #000;
  position: relative; }

.main-banner_text {
  display: inline-block;
  padding: 4rem 3rem 3.5rem;
  background-color: rgba(149, 204, 59, 0.9);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 40rem; }
  .main-banner_text strong {
    display: block;
    text-align: center;
    font-family: "Hind", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1;
    text-transform: uppercase;
    color: #fff; }
  .main-banner_text span {
    display: block;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
    font-family: "Hind", Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff; }

.main-banner img {
  width: 100%;
  height: auto; }

.banner-right {
  margin-bottom: 1.5rem;
  position: relative; }
  .banner-right img {
    width: 100%;
    height: auto; }

.banner-right_text {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  font-family: "Hind", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  max-width: 14.5rem; }
