<!-- footer START -->
<div class="footer-holder">
    <footer class="container">
        <div class="row">
            <div class="footer-content">
                <div class="left-box">
                    <div>
                        <a href="#" class="logo">
                                <img src="img/logo.png" alt="BIO Specialist" width="121" height="121">
                            </a>
                        <p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quidem suscipit saepe magni.</p>
                    </div>
                    <ul class="hidden-xs hidden-sm">
                        <span class="sidebar-nav_text">AREA PERSONALE</span>
                        <li><a href="">Prodotti Preferiti</a></li>
                        <li><a href="">Ordini</a></li>
                        <li><a href="">Ricettari</a></li>
                        <li><a href="">Carrello</a></li>
                        <li><a href="">Indirizzi</a></li>
                    </ul>
                    <ul class="hidden-xs hidden-sm">
                        <span class="sidebar-nav_text">CHI SIAMO</span>
                        <li><a href="">Bio Specialist</a></li>
                        <li><a href="">Il Fungo Bio</a></li>
                        <li><a href="">La nostra Storia</a></li>
                        <li><a href="">Mission</a></li>
                        <li><a href="">Punti Vendita</a></li>
                        <li><a href="">Ambiente</a></li>
                    </ul>
                </div>
                <div class="right-box">
                    <ul>
                        <span class="sidebar-nav_text hidden-xs hidden-sm">contatti</span>
                        <li class="hidden-xs hidden-sm">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita.
                        </li>
                        <span class="sidebar-nav_text hidden-xs hidden-sm">Lorem</span>
                        <li>
                            Il Fungo S.n.c. di Cullurà A.&C. Via Triumplina 243, 25136 Brescia Tel. 030 2003095, Fax. 030.2098000, Mail ilfungobio@libero.it
                        </li>
                    </ul>
                    <div class="socials">
                        <a href="" class="twitter">
                                <img src="img/tw.jpg" alt="twitter">
                            </a>
                        <a href="" class="fb">
                                <img src="img/fb.jpg" alt="fb">
                            </a>
                        <a href="" class="vimeo">
                                <img src="img/vim.jpg" alt="vimeo">
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <span class="copy hidden-xs hidden-sm">Copyright 2017 - LL Fungo BIO</span>
</div>
<div class="fader"></div>
<!-- footer END -->
<!-- scripts/libs START -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.3/js/swiper.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/slidx.js"></script>
<script src="js/common.js"></script>
<!-- scripts/libs END -->